__pycache__/
*.py[cod]
develop-eggs/
dist/
build/
plumbum/static/webpack
node_modules/
eggs/
.eggs/
*.egg-info/
*.egg
pip-log.txt

*.mo

instance/
.webassets-cache
.sass-cache
.eslintcache

docs/_build/

.env
.venv

*.db
