{% extends "plumbum/master.html" %}

{% block body %}
  {% if data %}
  <div class="list-controls">
    {% if view.can_create %}
      <a class="btn btn-sm" href="{{ view.get_url('.create_view', url=return_url) }}" title="Create New Record">Create</a>
    {% endif %}
    {% if view.can_export %}
      <a class="btn btn-sm" href="{{ view.get_url('.export', export_type="csv", url=return_url) }}" title="Export records">Export</a>
    {% endif %}
  </div>
  <div class="list-holder">
    <div class="list-content-holder">
      <table class="table model-list">
        <thead class="thead-default">
          <tr>
            {% for c, name in list_columns %}
              {% set column = loop.index0 %}
              <th class="column-header col-{{ c }}">
                {{ name }}
              </th>
            {% endfor %}
          </tr>
        </thead>
        {% for row in data %}
          <tr>
            {% for c, name in list_columns %}
              <td class="col-{{ c }}">
                {{ get_value(row, c) }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% else %}
    <div class="blankstate">
      <h3>You haven't created any {{ view.name|lower }} yet.</h3>
      <p>{{ view.empty_list_message }}</p>
      {% if view.can_create %}
        <p><a href="{{ view.get_url('.create_view') }}" class="btn btn-primary">Create a {{ view.name }}</a></p>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{# vim:ft=htmljinja:sw=2
#}
