{% extends "plumbum/master.html" %}
{% import "plumbum/model/_list_helpers.html" as list_helpers with context %}

{% block body %}
  {% if data %}
  <div class="list-controls">
    {% if view.can_create %}
      <a class="btn btn-sm" href="{{ view.get_url('.create_view', url=return_url) }}" title="{{ _gettext('Create New Record') }}">{{ _gettext('Create') }}</a>
    {% endif %}
    {% if view.can_export %}
      {{ list_helpers.export_options() }}
    {% endif %}
  </div>
  <div class="list-holder">
    <div class="list-content-holder">
      <table class="table model-list">
        <thead class="thead-default">
          <tr>
            {% for c, name in list_columns %}
              {% set column = loop.index0 %}
              <th class="column-header col-{{ c }}">
                {% if view.is_sortable(c) %}
                  {% if sort_column == column %}
                    <a href="{{ sort_url(column, True) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">
                      {{ name }}
                      {% if sort_desc %}
                        <span class="fa fa-chevron-up"></span>
                      {% else %}
                        <span class="fa fa-chevron-down"></span>
                      {% endif %}
                    </a>
                  {% else %}
                    <a href="{{ sort_url(column) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">{{ name }}</a>
                  {% endif %}
                {% else %}
                  {{ name }}
                {% endif %}
                {% if view.column_descriptions.get(c) %}
                  <a class="fa fa-question-circle" title="{{ view.column_descriptions[c] }}" href="javascript:void(0)" data-role="tooltip"></a>
                {% endif %}
              </th>
            {% endfor %}
          </tr>
        </thead>
        {% for row in data %}
          <tr>
            {% for c, name in list_columns %}
              <td class="col-{{ c }}">
                {{ get_value(row, c) }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% else %}
    <div class="blankstate">
      <h3>{{ _gettext('You haven\'t created any %(name)s yet.', name=view.name|lower) }}</h3>
      <p>{{ view.empty_list_message }}</p>
      {% if view.can_create %}
        <p><a href="{{ view.get_url('.create_view') }}" class="btn btn-primary">{{ _gettext('Create a %(name)s', name=view.name) }}</a></p>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{# vim:ft=htmljinja:sw=2
#}
