/* Layout */

/* Color schema */

/* UI elements */

/* Text */
$pb-font-size: 14px;

/* Lists */

/* Padding */

/* Misc */

/* Fonts */
$font-size-base: $pb-font-size;
$font-size-lg: $pb-font-size * 1.25;
$font-size-sm: $pb-font-size * 0.875;
$font-size-xs: $pb-font-size * 0.75;

/* Forms */
$input-padding-x: $pb-font-size * 0.75;
$input-padding-y: $pb-font-size * 0.5;

$input-padding-x-sm: $pb-font-size * .5;
$input-padding-y-sm: $pb-font-size * 0.25;

$input-padding-x-lg: $pb-font-size * 1.5;
$input-padding-y-lg: $pb-font-size * 0.75;
