{% extends "plumbum/master.html" %}
{% block body %}
  {{ super() }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h1>Plumbum example</h1>
        <p class="lead">Basic SQLAlchemy model views.</p>
        <p>This example shows how to add basic CRUD-views for your SQLAlchemy
          models.</p>
        <p>This views are generated automatically, but it is perfectly possible
          to cusomize them to suit your needs.</p>
        <a class="btn btn-outline-primary btn-sm" role="button" href="/">
          <i class="fa fa-arrow-left fa-fw"></i> Back
        </a>
      </div>
    </div>
  </div>
{% endblock %}
