{% extends "plumbum/master.html" %}
{% block body %}
  {{ super() }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h1>{{ _('Plumbum example') }}</h1>
        <p class="lead">{% trans %}Basic SQLAlchemy model views.{% endtrans %}</p>
        <p>{% trans %}
            This example shows how to add basic CRUD-views for your
            SQLAlchemy models.
        {% endtrans %}</p>
        <p>{% trans %}
            This views are generated automatically, but it is perfectly
            possible to cusomize them to suit your needs.
        {% endtrans %}</p>
        <a class="btn btn-outline btn-sm" role="button" href="/">
            <i class="fa fa-arrow-left fa-fw"></i> {{ _ ('Back') }}
        </a>
      </div>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn" type="button">{{ _('Close') }}</button>
      <button class="m-1 btn btn-primary" type="button">{{ _('Comment') }}</button>
      <button class="m-1 btn btn-danger" type="button">{{ _('Rename repository') }}</button>
      <button class="m-1 btn btn-blue" type="button">{{ _('Sign up for free') }}</button>
      <button class="m-1 btn btn-purple" type="button">{{ _('Try it for free') }}</button>
      <button class="m-1 btn btn-outline" type="button">{{ _('Outline') }}</button>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn hover" type="button">{{ _('Close') }}</button>
      <button class="m-1 btn btn-primary hover" type="button">{{ _('Comment') }}</button>
      <button class="m-1 btn btn-danger hover" type="button">{{ _('Rename repository') }}</button>
      <button class="m-1 btn btn-blue hover" type="button">{{ _('Sign up for free') }}</button>
      <button class="m-1 btn btn-purple hover" type="button">{{ _('Try it for free') }}</button>
      <button class="m-1 btn btn-outline hover" type="button">{{ _('Outline') }}</button>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn focus" type="button">{{ _('Close') }}</button>
      <button class="m-1 btn btn-primary focus" type="button">{{ _('Comment') }}</button>
      <button class="m-1 btn btn-danger focus" type="button">{{ _('Rename repository') }}</button>
      <button class="m-1 btn btn-blue focus" type="button">{{ _('Sign up for free') }}</button>
      <button class="m-1 btn btn-purple focus" type="button">{{ _('Try it for free') }}</button>
      <button class="m-1 btn btn-outline focus" type="button">{{ _('Outline') }}</button>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn selected" type="button">{{ _('Close') }}</button>
      <button class="m-1 btn btn-primary selected" type="button">{{ _('Comment') }}</button>
      <button class="m-1 btn btn-danger selected" type="button">{{ _('Rename repository') }}</button>
      <button class="m-1 btn btn-blue selected" type="button">{{ _('Sign up for free') }}</button>
      <button class="m-1 btn btn-purple selected" type="button">{{ _('Try it for free') }}</button>
      <button class="m-1 btn btn-outline selected" type="button">{{ _('Outline') }}</button>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn disabled" type="button">{{ _('Close') }}</button>
      <button class="m-1 btn btn-primary disabled" type="button">{{ _('Comment') }}</button>
      <button class="m-1 btn btn-danger disabled" type="button">{{ _('Rename repository') }}</button>
      <button class="m-1 btn btn-blue disabled" type="button">{{ _('Sign up for free') }}</button>
      <button class="m-1 btn btn-purple disabled" type="button">{{ _('Try it for free') }}</button>
      <button class="m-1 btn btn-outline disabled" type="button">{{ _('Outline') }}</button>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn" type="button">{{ _('Button') }}</button>
      <button class="m-1 btn btn-sm" type="button">{{ _('Small button') }}</button>
      <button class="m-1 btn btn-xs" type="button">{{ _('Extra small button') }}</button>
      <button class="m-1 btn" type="button" disabled>{{ _('Disabled button') }}</button>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn btn-primary" type="button">{{ _('Primary Button') }}</button>
      <button class="m-1 btn btn-sm btn-primary" type="button">{{ _('Small primary button') }}</button>
      <button class="m-1 btn btn-xs btn-primary" type="button">{{ _('xs primary button') }}</button>
      <button class="m-1 btn btn-primary" type="button" disabled>{{ _('Primary disabled') }}</button>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn btn-danger" type="button">{{ _('Danger Button') }}</button>
      <button class="m-1 btn btn-sm btn-danger" type="button">{{ _('Small danger button') }}</button>
      <button class="m-1 btn btn-xs btn-danger" type="button">{{ _('xs danger button') }}</button>
      <button class="m-1 btn btn-danger" type="button" disabled>{{ _('Danger disabled') }}</button>
    </div>
    <div class="docs-example clearfix">
      <button class="m-1 btn" type="button">
        {{ _('Button') }} <span class="counter">12</span>
      </button>
      <button class="m-1 btn btn-primary" type="button">
        {{ _('Button') }} <span class="counter">12</span>
      </button>
      <button class="m-1 btn btn-danger" type="button">
        {{ _('Button') }} <span class="counter">12</span>
      </button>
      <button class="m-1 btn btn-outline" type="button">
        {{ _('Button') }} <span class="counter">12</span>
      </button>
    </div>
    <div class="docs-example clearfix">
      <div class="btn-group">
        <button class="btn" type="button">{{ _('Button') }}</button>
        <button class="btn" type="button">{{ _('Button') }}</button>
        <button class="btn" type="button">{{ _('Button') }}</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline" type="button">{{ _('Button') }}</button>
        <button class="btn btn-outline" type="button">{{ _('Button') }}</button>
        <button class="btn btn-outline" type="button">{{ _('Button') }}</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-sm" type="button">{{ _('Button') }}</button>
        <button class="btn btn-sm" type="button">{{ _('Button') }}</button>
        <button class="btn btn-sm" type="button">{{ _('Button') }}</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block head %}
  <style>
    .docs-example {
      position: relative;
      padding: 15px;
      font-size: 13px;
      line-height: 1.4;
      border: 1px solid #e5e5e5;
      border-radius: .25rem;
      margin-bottom: .5rem;
    }
  </style>
{% endblock %}
